

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
 <h3 style="color: #9d55e6; text-align: center" >Groomwell Salon Services </h3>
  <hr>
  <p>
  Subject: <%= @subject %>
  </p>
  Hi <%= @salon_name %>,
    <p>
   We are glad to inform you that one client has booked his service through us at your salon. The following are the details of your appointment </p>
          <br>Appointment Date : <%= @start_date %>
            <br>Appointment Time : <%= @appt_time %>
            <br>Customer Name : <%= @name %>
            <br>Service Name: <%= @service %>
            # <br>Customer Mobile : <%= @salon_mobile %>
           
           
    <p>Kindly call the customer preferably a day before and confirm the appointment. For any queries please call Customer Care at support@groomwell.in </p>

     
    <p>Team GroomWell</p>
    <hr>
    <h5 style=" text-align: center" >GroomWell Salon Services © 2023 </h5>
 </body>
</html>
