

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h3 style="color: #9d55e6, text-align: center" >Groomwell Salon Services </h3>
  <br>
  <p>
  Subject: <%= @subject %>
  </p>
  Hi <%= @name %>,
    <p>
    Thank you for booking your service with GroomWell Services partner. The following are the details of your appointment </p>
          <br>Appointment Date : <%= @start_date %>
            <br>Appointment Time : <%= @appt_time %>
            <br>Service Name: <%= @service %>
            <br>Salon Name: <%= @salon_name %>
            <br>Salon Phone : <%= @salon_phone %>
            <br>Salon Mobile : <%= @salon_mobile %>
            <br><br>
    <p>Kindly reach the salon at least 15 minutes before appointed time. For any queries please call Customer Care at support@groomwell.in </p>
    <br><br>
            

    <p>Team GroomWell</p>
    <hr>
    <h5 style=" text-align: center" >GroomWell Salon Services © 2023 </h5>
 </body>
</html>
